*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
.main {
    position: absolute;
    top : 0;
    width : 100%;
    height: 100%;
}
.google-logo {
   
    text-align: left;
    
   bottom: 370px;    
    
}
.google-logo img {
    width: 20%;
    height: auto;
  
}

.search-bar-outer{
    position: absolute;
    text-align: center;
    bottom: 410px;
    left: 160px;
       
}
.search-bar-outer input{
    height: 45px;
    width: 625px;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 3px #ddd; 
}
.icons li {
    display: inline;
    padding: 13px;


}
.icons {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    top: 15px;
    right: 55px;
    color: rgb(138, 134, 134);
}

.right-icons {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
    left: -5px;
    color: rgb(138, 134, 134);
}
.right-icons li { 
    display: inline;
    padding: 13px;
}